<div class="nav nav-admin">
  <span class="nav title"><%= t('.header')%></span>

  <div class="nav user">
      <%= current_user.model_name.human %>: <b class="nav user-email"><%= current_user.full_name %></b> |
      <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
  </div>

  <div class="nav lang_switcher">
    <%= link_to 'RU', request.path + "?lang=ru" %> |
    <%= link_to 'EN', request.path + "?lang=en" %>
  </div>
</div>
