<div class="container-fluid justify-content-center mt-3">
  <h5><%= t('.header', test_title: @test_passage.test.title) %></h5>
  <div class="progress mb-3">
    <%= content_tag :div, "", class: "progress-val", data: { num: @test_passage.current_question_num, total: @test_passage.test.questions.count } %>
  </div>

  <div class="card border-primary">
    <div class="card-header small">
      <%= t('.question_number', num: @test_passage.current_question_num, total: @test_passage.test.questions.count) %>
    </div>
    <div class="card-body">
      <h2 class="mb-3 text-primary">
        <%= @test_passage.current_question.body %>
      </h2>

      <%= form_with url: test_passage_path(@test_passage), local: true, method: :put, id: 'test-passage-form' do |form| %>
        <div class="form-group">
          <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
            <div class="form-check mb-3">
              <%= b.check_box id: "answer_ids_#{b.object.id}", class: "form-check-input" %>
              <%= b.label class: "form-check-label" %>
            </div>
          <% end %>
          <p><%= link_to t('.gist_question'), gist_test_passage_path(@test_passage), method: :post %></p>
          <p><%= form.submit t('.next'), class: "btn-primary mt-2" %></p>
          <% unless @test_passage.test.timer.nil? %>
            <h4>
              <%= t('.time_left') %>
              <%= content_tag :span, "", class:'time_left', data: { end_time: @test_passage.test_end_time, path: test_passage_path(@test_passage) } %>
            </h4>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
