<tr>
  <td><%= test.title %> </td>
  <td> <%= test.category.title %> </td>
  <td align="center"> <%= test.level %> </td>
  <td align="center"> <%= test.questions.count %> </td>
  <td align="center">
    <% if test.timer.nil? %>
      <%= octicon 'clock' %>
    <% else %>
      <%= octicon 'dash' %>
    <% end %>
  </td>
  <% if user_signed_in? %>
    <td> <%= button_to t('.start'), start_test_path(test), class: 'btn btn-primary' %> </td>
  <% end %>
</tr>
