<div class="container-fluid justify-content-center mt-3">
  <h1><%= t('.header') %></h1>
  <% if @tests.present? %>
    <table class="table">
      <tr>
        <th class= "sort-by-title pointer" align="left">
          <%= Test.human_attribute_name(:title) %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= Test.human_attribute_name(:category_id) %></th>
        <th><%= Test.human_attribute_name(:level) %></th>
        <th><%= t('.questions_count') %></th>
        <th><%= t('.timer') %></th>
        <% if user_signed_in? %>
          <th><%= t('.actions') %></th>
        <% end %>
      </tr>
      <%= render @tests %>
    </table>
  <% else %>
    <p><%= t('.no_tests') %></p>
  <% end %>
</div>
