<div class="nav nav-user">
  <span class="nav title"><%= t('.app_name') %></span>
  <div class="nav user">
    <% if user_signed_in? %>
      <%= current_user.model_name.human %>: <b class="nav user-email"><%= current_user.full_name %></b> |
      <%= link_to t('devise.shared.links.sign_out'), destroy_user_session_path, method: :delete %>
      <% else %>
          <%= link_to t('devise.shared.links.sign_in'), new_user_session_path %> | <%= link_to t('devise.shared.links.sign_up'), new_user_registration_path %>
      <% end %>
  </div>

  <div class="nav lang_switcher">
    <%= link_to 'RU', request.path + "?lang=ru" %> |
    <%= link_to 'EN', request.path + "?lang=en" %>
  </div>
</div>
