<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <footer>
      <hr>
      <p><%= link_to 'Test-Guru', github_url('mixeeff', 'test-guru') %>
      - система работы с онлайн-тестами. Учебный проект в онлайн-школе <%= link_to 'Thinknetica', 'https://thinknetica.com' %></p>
      <p>© Дмитрий Михеев, <%= this_year %></p>
    </footer>
  </body>
</html>
